* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Títulos */
h2 {
    color: #333;
}

h3 {
    margin-top: 25px;
}

/* Rodapé */
footer {
    background-color: #212529;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}